

.contact-image {
	float: left;
	margin-right: 40px;
}

.contact-fields {
	float: left;
}

#contact-search {
	float: right;
	margin-right: 45px;
}

.contact-index-image {
	float: left;
	width: 70px;
}

.edit-link {
	float: right;
}

.contact-name {
	float: left;
}

.contact-delete {
	float:right;
	/* margin-right: 50px; */
}

.tweet-div {
	width: 380px;
	float: right;
	background-color: #A7CEE2;
	padding: 5px;
}

.tweet-created {
	font-weight: bold;
}

.section.content {
	height: 400px;
}

.tweets li {
	padding-bottom: 5px;
}



div.autocomplete {
  position:absolute;
  width:250px;
  background-color:white;
  border:1px solid #888;
  margin:0;
  padding:0;
	z-index:50;
}
div.autocomplete ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
div.autocomplete ul li.selected { background-color: #ffb;}
div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  height:32px;
  cursor:pointer;
}

